body {
   background-color:#9e9e9e;
   margin:0;
   font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logomarca {
    
    width: 400px;
    height: 60px;
    object-fit: cover;
    margin-left: 30px;
    margin-top: 0px;
    float: left;
}

.menu {
    height: 60px;
    background-color: #060018;
    margin: 0px;
    padding: 0px;    
    padding-left: 700px;
    text-decoration: none;
    
}
.menu a {
    color: #fff;
    display: block;
    padding: 10px;
    margin-top: 10px;
}
 a {
     transition: all 0.5s linear;
      font-size: 17px;
 }
.menu a:hover,
.menu li.active a {
    background-color: #4cb8e2;
    font-size: 18px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
}
.menu li {
    list-style: none;
    display: inline-block;
}
.banner {
    height:calc(150vh - 60px);
    background-color: rgba(0,0,0,0.7);
    background-image: url('../welyuvanvieira.github.io/imagens/banner-01.png');
    background-size: cover;    
    background-position: 70% 50%;
}
.container {
    width: auto;
    height: 50%;
    font-size: 60px;
    font-weight: bolder;
    text-shadow: 2px 2px 3px #4cb8e2(66, 1, 82, 0.5); 
    padding-top: 140px;
    padding-bottom: 0px;
    padding-left: 150px;   
    color: #4cb8e2(66, 1, 82, 0.5); 

}

a {
     text-decoration:dashed;
}
.default {
    padding-top: 50px;
    padding-bottom: 50px;
}
.section-body  .ed-texto {
    color: #ffffff;
    text-align: right;
}
.default .section-title, 
.default .section-dec {
    text-align: center;
    text-transform: uppercase;
}
.default .section-title{
    font-size: 30px;
    font-weight: bold;
    color: #000000;
}
.default .section-dec {
    color: #4cb8e2;
    font-weight: bold;
    margin-bottom: 40px;
}
.default .section-body {
    max-width: 1140px;
    margin: auto;
    min-height: 100px;
   
}
.default.light{
    background-color: #f9f9f9;
}
.default.light .section-title{
    color: #000000;
}
.default.dark{
    background-color: #000000;
}
.default.dark .section-title{
    color: #f9f9f9;
}
.section-dec {
    width: 200px;
    height: 2px;
    background-color: #4cb8e2;
    margin:5px auto;
}

mark {
    background-color: #4cb8e2;
    color:#000;
    padding: 0 4px;
    border-radius: 4px;
}
.banner-conhecimentos-container {
  display: flex;
  justify-content: center;
  margin-top:70px;
  align-items: center;
  gap: 15px;
  
 }
.banner-conhecimentos-container img {
    width: 100px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}
.banner-conhecimentos-container img:hover {
  transform: scale(1.1);
  box-shadow: 0px 7px 10px #4cb8e2;
  
}    

.section-projects--certificados {
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap; /* para quebrar a linha quando chegar no limite da tela */
    justify-content: center;
}
.section-projects--certificado {
    width: 280px;
    
}

.section-projects--certificado-are {
     margin: 10px;
    width: 200px;
    height: 260px;

}
.section-projects--certificado-are img {
    width: inherit;   /* A imagem tera a mesma area do photoare  poderia ter colocado 260px*/
    height: inherit;  /* A imagem tera a mesma area do photoare pederia ter colocado 160px */                 
    object-fit: cover; /* para a imagem preencher todo o espaço definido */
}

.section-projects--certificado-are:hover {
    transform: scale(1.1);
    box-shadow: 0px 7px 10px #000000;
}
.section-projects {
    display: flex;
    flex-direction: column;
    align-items: center ;
}

.section-projects--filters {
    border: 1px solid #4cb8e2;
    border-radius: 30px;
    display: inline-block;
    justify-content: center;
    background-color: f0eeec96;
   /* box-shadow: 0px 2px 5px #333;  sombra para dar um efeito de profundidade */
}
.section-projects--filters ul,
.section-projects--filters li {
    list-style: none;
    padding: 10px 20px;
}
.section-projects--filters li {
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
    border-left: 1px solid #4cb8e2;
    border-bottom: 1px solid #4cb8e2 none;
    cursor: pointer;
}
.section-projects--filters li:hover,
.section-projects--filters li.active {
    border-bottom: 5px solid #4cb8e2;
    font-size: 14px;
    color: #4cb8e2;
    
}
.section-projects--filters li:first-child {
    border-left: none; /* para tirar a borda do primeiro item */
}
.section-projects--photographs {
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap; /* para quebrar a linha quando chegar no limite da tela */
    justify-content: center;
}
.section-projects--photograph {
    width: 280px;
}

.section-projects--photoare {
    margin: 10px;
    width: 260px;
    height: 250px;
}
.section-projects--photoare img {
    width: inherit;   /* A imagem tera a mesma area do photoare  poderia ter colocado 260px*/
    height: inherit;  /* A imagem tera a mesma area do photoare pederia ter colocado 160px */                 
    object-fit: cover; /* para a imagem preencher todo o espaço definido */
}
.section-projects--info {
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    width: inherit;
    height: inherit;
    display: none;
    flex-direction:column; /* para o texto ficar em baixo da imagem */
    justify-content: center;
    align-items: center;
    color:#fff
}
.section-projects--info h5 {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
}
.section-projects--photoare:hover .section-projects--info {
    display: flex;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    text-transform: uppercase;
    background-color:#4cb8e2;
    color: #fff;
    border: none;
    text-decoration: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.direita {
    display: inline-block;
    margin-left: 200px;
    margin-top: 10px;
    float: left;
    font-size: 17px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.direita a {
    
    color: #000000;
    text-decoration: none;
    display: block;
    padding: 10px;
    
}
.direita a img {
    margin-top: 10px;
    width: 20px;
    height: 20px;
    object-fit: cover;
    vertical-align: middle;
    margin-right: 5px;
}
.esquerda {
    margin: auto;
    display: inline-block;
    float: right;
    margin-top: 20px;
    height: auto;
    width: 500px;
}
.rodape {
    background-color: #02000b;
    padding: 10px;
    text-align: center;
    color:#fff;
    margin-bottom: 10px;
    
}


.contato {
    padding: 60px 10%;
    background: #0f172a;
    color: #fff;
    text-align: center;
}

.contato h2 {
    font-size: 32px;
    margin-bottom: 40px;
    border-bottom: 2px solid #38bdf8;
    display: inline-block;
    padding-bottom: 5px;
}

.container-contato {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    flex-wrap: wrap;
}

/* REDES */
.redes {
    flex: 1;
    text-align: left;
}

.redes h3 {
    margin-bottom: 20px;
}

.item-rede {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 15px 0;
    text-decoration: none;
    color: #cbd5f5;
    transition: 0.3s;
}

.item-rede:hover {
    color: #38bdf8;
    transform: translateX(5px);
}

/* FORM */
.form-contato {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-contato input,
.form-contato textarea {
    padding: 12px;
    border: none;
    border-radius: 8px;
    outline: none;
    background: #1e293b;
    color: #fff;
}

.form-contato input:focus,
.form-contato textarea:focus {
    border: 1px solid #38bdf8;
}

.form-contato textarea {
    height: 120px;
    resize: none;
}

.form-contato button {
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #38bdf8;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.form-contato button:hover {
    background: #0ea5e9;
    transform: scale(1.05);
}
.contato .default {
    margin-top: -40px;
}
.contato .section-title {
    color:#f9f9f9;
}

.hidden {
    opacity: 0;
    transform: translateY(40px);
    transition: all 3.5s ease;
    transform: translateX(-50px);
}


.show {
    opacity: 1;
    transform: translateY(0);
}

.skills-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 20px;
    max-width: 800px;
}

/* remove barra de rolagem */
.skills::-webkit-scrollbar {
    display: none;
}

.skills img {
    width: 100px;
    transition: 0.3s;
}

.skills img:hover {
    transform: scale(0.8);
}

/* BOTÕES */
.btn {
    position: absolute;
    background: rgba(255,255,255,0.1);
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    transition: 0.3s;
    
    
}

.btn:hover {
    background: #38bdf8;
}

/* posição */
.left {
    left: 0;
   
}

.right {
    right: 0;
   
}